
body{
	margin:0;
}

h1 {
	font-size: 100px;
	font-family: "Times New Roman", Times, serif;
	line-height: 0;
	padding: .4em 0 0 0;
}


.separator{
	border:2px solid black;
}
.personal_Info{
	padding: 0.5em;
	border:5px solid orange;
	border-radius: 15px;
	max-width: 320px;
	min-width: 280px;

}

.name{
	max-width: 200px;

}

.container, footer{
	font-family: "Arial" , Helvetica, sans-serif;
	font-size: 16px;
}


/*Layout
-----------------------------*/
header,
.container,
footer {
	margin:0 auto;
	width:88%;
	max-width: 960px;
	
}

.wrapper{
	padding-top: 5px;
	background:url(assets/images/swirl.png);
	opacity: 0.7;
}

/*Float
---------------------------*/


/* List / Custom Bullets
------------------------------------------*/

.no_bullet_list{
	list-style: none;
}

.bullet{
	height: 16px;
	width: 16px;
	background: url(assets/images/bullet.png);
	display:inline-block;
	margin: 0 .2em -.1em 0;
}

/* Misc.
------------------------------------------*/

.clearfix:after {
	content:".";
	display:block;
	height: 0;
	clear:both;
	visibility:hidden;
}

/* Media Queries
------------------------------------------*/

@media screen and (min-width: 700px){
	.name{
		float: left;
		max-width: 200px;
		

	}
	.personal_Info{
		float:right;
		width:30%;
		margin-top: 6.5em;
		max-width: 320px;
	}

	.skills{
		width:35%;
		float: left;
	}

	..hobbies{

		width: 40%;
		float: left;
		border-radius: 5px;
		padding:1em;
		border: 1px solid blue;
	}
}